USE [master]
GO
/****** Object:  Database [QL_THUVIEN]    Script Date: 26.03.2018 21:47:13 ******/
CREATE DATABASE [QL_THUVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_THUVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVEREXPRESS\MSSQL\DATA\QL_THUVIEN.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_THUVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVEREXPRESS\MSSQL\DATA\QL_THUVIEN_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_THUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_THUVIEN]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 26.03.2018 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[Username] [nchar](10) NOT NULL,
	[Password] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
